<div class="flex flex-wrap gap-3">
  <div class="checkboxes-block">
    <div class="flex flex-wrap gap-3">
      <div class="flex align-items-center">
        <p-radioButton
          name="{{accountId}}"
          inputId="{{accountId}}_NA"
          [styleClass]="'formRow'"
          value="value"
          label="{{accountId}}_NA">
        </p-radioButton>
      </div>
      <div class="flex align-items-center">
        <p-radioButton
          name="{{accountId}}"
          inputId="{{accountId}}_RO"
          [styleClass]="'formRow'"
          value="value"
          label="{{accountId}}_RO">
        </p-radioButton>
      </div>
      <div class="flex align-items-center">
        <p-radioButton
          name="{{accountId}}"
          inputId="{{accountId}}_RW"
          [styleClass]="'formRow'"
          value="value"
          label="{{accountId}}_RW">
        </p-radioButton>
      </div>
    </div>
  </div>
</div>
