@use 'sass:color';
@use 'sass:meta';

$btn-mix-color-primary: #1E6599FF;
$btn-mix-color: #AD2102FF;
$btn-h-color: #ffffff;

@function mix-colors($color1, $color2, $weight) {
  $weight: max(min($weight, 100), 0);

  $cl1: $color1;
  $cl2: $color2;

  $rgba1: if(meta.type-of($cl1) == 'color', $cl1, rgba($cl1, 1));
  $rgba2: if(meta.type-of($cl2) == 'color', $cl2, rgba($cl2, 1));

  $mixed-color: color.mix($rgba1, $rgba2, $weight);

  $red-result: color.red($mixed-color);
  $green-result: color.green($mixed-color);
  $blue-result: color.blue($mixed-color);
  $alpha-result: color.alpha($mixed-color);

  @return rgba($red-result, $green-result, $blue-result, $alpha-result);
}

.btn-block {
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: 0;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  background: $btn-mix-color-primary;

  //&:hover {
  //  background: color-mix(in srgb, $btn-mix-color-primary 50%, $btn-h-color); //color(srgb 0.558824 0.698039 0.8)
  //}

  &:hover {
    background: mix-colors($btn-mix-color-primary, $btn-h-color, 50%); //color(srgb 0.558824 0.698039 0.8)
  }
}
