@use 'sass:color';
@use 'sass:meta';

$btn-mix-color-primary: #1E6599FF;
$btn-mix-color: #AD2102FF;
$btn-h-color: #ffffff;

@function mix-colors($color1, $color2, $weight) {
  $weight: max(min($weight, 100), 0);

  $cl1: $color1;
  $cl2: $color2;

  $rgba1: if(meta.type-of($cl1) == 'color', $cl1, rgba($cl1, 1));
  $rgba2: if(meta.type-of($cl2) == 'color', $cl2, rgba($cl2, 1));

  $mixed-color: color.mix($rgba1, $rgba2, $weight);

  $red-result: color.red($mixed-color);
  $green-result: color.green($mixed-color);
  $blue-result: color.blue($mixed-color);
  $alpha-result: color.alpha($mixed-color);

  @return rgba($red-result, $green-result, $blue-result, $alpha-result);
}

$test1: color-mix(in srgb, $btn-mix-color-primary 50%, $btn-h-color);
$test2: mix-colors($btn-mix-color-primary, $btn-h-color, 50%);

.btn-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  margin: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
}

.test1 {
  background: var(--test1, $test2);
}

.test2 {
  background: color-mix(in srgb, $btn-mix-color-primary 50%, $btn-h-color);
}


//rgb(143, 178, 204)
